[submodule "nvim/plugins/start/lualine.nvim"]
	path = nvim/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim/plugins/start/nvim-tree.lua"]
	path = nvim/plugins/start/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
[submodule "nvim/plugins/start/nvim-treesitter"]
	path = nvim/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim/plugins/start/nightfox.nvim"]
	path = nvim/plugins/start/nightfox.nvim
	url = git@github.com:EdenEast/nightfox.nvim.git
[submodule "nvim/plugins/start/nvim-web-devicons"]
	path = nvim/plugins/start/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
