[submodule "nvim/plugins/start/lualine.nvim"]
	path = nvim/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim/plugins/start/nvim-tree.lua"]
	path = nvim/plugins/start/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
[submodule "nvim/plugins/start/nvim-treesitter"]
	path = nvim/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim/plugins/start/nightfox.nvim"]
	path = nvim/plugins/start/nightfox.nvim
	url = git@github.com:EdenEast/nightfox.nvim.git
[submodule "nvim/plugins/start/nvim-web-devicons"]
	path = nvim/plugins/start/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "nvim/plugins/start/telescope.nvim"]
	path = nvim/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "nvim/plugins/start/telescope-fzf-native.nvim"]
	path = nvim/plugins/start/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim.git
[submodule "nvim/plugins/start/plenary.nvim"]
	path = nvim/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "nvim/plugins/start/nvim-lspconfig"]
	path = nvim/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim/plugins/start/nvim-cmp"]
	path = nvim/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "nvim/plugins/start/cmp-nvim-lsp"]
	path = nvim/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/plugins/start/cmp-buffer"]
	path = nvim/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "nvim/plugins/start/cmp-path"]
	path = nvim/plugins/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "nvim/plugins/start/cmp-nvim-lua"]
	path = nvim/plugins/start/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
[submodule "nvim/plugins/start/LuaSnip"]
	path = nvim/plugins/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
